﻿@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Книжный магазин</title>
</head>
<body>
    <div>
        <h3>Распродажа книг</h3>
        <table>
            <tr>
                <td><p>Название жанра</p></td>
            </tr>
            @foreach (var b in ViewBag.Genres)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>